@font-face{
    font-family: 'Outfit-medium', sans-serif;
    src: url("../fonts/Outfit-Medium.ttf")
}
@font-face{
    font-family: 'Outfit-bold', sans-serif;
    src: url("../fonts/Outfit-Bold.ttf");
}

