:root{
    --background-color: #1A2A33;
    --light-background-color: #1F3641;
    --gray:#A8BFC9;
    --dark-white: #DBE8ED;
    --blue:#31C3BD;
    --yellow: #F2B137;
    --yellow-hover: #FFC860;
    --blue-hover:#65E9E4;
}
/* my library> */
.display-flex{
    display: flex;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-flex-start{
    justify-content: flex-start;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
.align-items-center{
    align-items: center;
}
.display-grid{
    display: grid;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.overflow-hidden{
    overflow: hidden;
}
/* <my library */
/* common tags> */
.blue-background{
    background-color: var(--blue);
}
.yellow-background{
    background-color: var(--yellow);
}
.gray-background{
    background-color: var(--gray);
}
.black-text{
    color: var(--background-color);
}
.blue-text{
    color: var(--blue);
}
.yellow-text{
    color: var(--yellow);
}
.gray-text{
    color: var(--gray);
}
.extra-larger-font-size{
    font-family: 'Outfit-bold', sans-serif;
    font-size: 40px;
    letter-spacing: 2.5px;
    font-weight: 700;
}
.larger-font-size{
    font-family: 'Outfit-bold', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.standard-font-size{
    font-family: 'Outfit-bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}
.smaller-font-size{
    font-family: 'Outfit-medium', sans-serif; 
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
        /* small x> */
.small-o, .small-x{
    width: 32px;
    height: 32px;
    transition: all 0.2s linear;
}
.small-x{
    position: relative;
}
.small-x .x-line{
    position: absolute;
    bottom: -7%;
    right: 35%;
    height: 36px;
    width: 10px;
    background-color: var(--blue);
    border-radius: 3px;
    transition: all 0.2s linear;
}
.small-x .x-line:nth-child(1){
    transform: rotate(45deg);
}
.small-x .x-line:nth-child(2){
    transform: rotate(-45deg);
}
        /* <small x */
        /* small o> */
.small-o{
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 50%;
    transition: all 0.2s linear;
}
.small-o .o-inner-circle{
    width: 45%;
    height: 45%;
    border-radius: 50%;
    background-color: var(--background-color);
    transition: all 0.2s linear;
}
        /* <small o */
        /* large x> */
.large-x, .large-o{
    width: 64px;
    height: 64px;
    display: none;
}
.large-x{
    position: relative;
    transition: all linear 0.2s;
}
.large-x .x-line{
    position: absolute;
    left: 36%;
    transform: translateX(-50%);
    bottom: -9%;
    height: 75px;
    width: 17px;
    background-color: var(--light-background-color);
    border-radius: 2px;
    border: 1px solid transparent;
    transition: all linear 0.2s;
}
.large-x .x-line:nth-child(1){
    transform: rotate(45deg);
}
.large-x .x-line:nth-child(2){
    transform: rotate(-45deg);
}

.ready-for-x > .large-x, .x-chosen .large-x,.x-chosen.win .large-x{
    display: block;
}
.ready-for-x:hover .large-x .x-line{
    border: 2px solid var(--blue);
}

.x-chosen .large-x .x-line{
    background-color: var(--blue);
    border-color: var(--blue);
}

.x-chosen.win{
    background-color: var(--blue);
}
.x-chosen.win .large-x .x-line{
    background-color: var(--light-background-color);
    border-color: var(--light-background-color);
}

.x-o-modal-wrapper.x-modal-win .large-x{
    display: block;
}
.x-o-modal-wrapper.x-modal-win .large-x .x-line{
    background-color: var(--blue);
    border-color: var(--blue);
}
        /* <large x */
        /* large o> */
.large-o{
    border-radius: 50%;
}
.large-o .o-inner-circle{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.large-o, .large-o .o-inner-circle{
    background-color: var(--light-background-color);
    border: 1px solid transparent;
    transition: all linear 0.2s;
}
.ready-for-o .large-o{
    display: flex;
}
.ready-for-o:hover .large-o, .ready-for-o:hover .large-o .o-inner-circle{
    border: 2px solid var(--yellow);
}

.o-chosen .large-o{
    display: flex;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.o-chosen.win, .o-chosen.win .large-o .o-inner-circle{
    background-color: var(--yellow);
}
.o-chosen.win .large-o{
    background-color: var(--light-background-color);
    border-color: var(--yellow);
}

.x-o-modal-wrapper.o-modal-win .large-o{
    display: flex;
    background-color: var(--yellow);
}
        /* <large o */

        /* common larger button> */
.common-larger-button{
    width: 100%;
    padding: 1em 0;
    border-radius: 15px;
    font-family: 'Outfit-medium', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--background-color); 
}
.yellow-larger-button{
    background-color: var(--yellow);
    box-shadow: inset 0px -8px 0px #CC8B13;
}
.yellow-larger-button:hover, .yellow-smaller-button:hover{
    background-color: var(--yellow-hover);
}
.blue-larger-button{
    background-color: var(--blue);
    box-shadow: inset 0px -8px 0px #118C87;
}
.blue-larger-button:hover{
    background-color: var(--blue-hover);
}
        /* <common larger button */
        /* common smaller button> */
        .common-smaller-button{
            padding: 15px 17px;
            border-radius: 10px;
            font-family: 'Outfit-bold', sans-serif;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--background-color);
            cursor: pointer;
        }
        .yellow-smaller-button{
            background-color: var(--yellow);
            box-shadow: 0 -4px 0 0 #CC8B13 inset;
        }
        .gray-smaller-button{
            background-color: var(--gray);
            box-shadow: 0px -4px 0px 0px #6B8997 inset;
        }
        .gray-smaller-button:hover{
            background-color: var(--dark-white);
        }
        /* <common smaller button */
.black-box-shadow{
    box-shadow: inset 0px -8px 0px #10212A;
}
.gray-box-shadow{
    box-shadow: 0px -3px 0px 0px #6B8997 inset;
}
.gray-font{
    color: var(--gray);
}
/* <common tags */
main{
    height: 100vh;
    background-color: var(--background-color);
}
.option-section{
    row-gap: 2em;
}
.x-and-0-title{
    column-gap: 0.5em;
}
.pick-mark-section{
    padding: 1.5em;
    row-gap: 1.5em;
    border-radius: 15px;
    background-color: var(--light-background-color);
}
.pick-mark-part{
    column-gap: 1em;
    padding: 0.6em;
    border-radius: 10px;
    background-color: var(--background-color);
}
.pick-mark-part button{
    padding: 15px 80px;
    border-radius: 10px;
    background-color: inherit;
    color: var(--gray);
    cursor: pointer;
}
/* option x-button style> */
.option-button.option-button-active{
    background-color: var(--gray);
}
.x-button .small-x .x-line{
    background-color: var(--gray);
}
.x-button.option-button-active .small-x .x-line{
    background-color: var(--background-color);
    transition: all 0.2s linear;
}
/* <option x-button style */
/* option o-button style> */
.o-button .small-o{
    background-color: var(--gray);
}
.o-button.option-button-active .small-o{
    background-color: var(--background-color);
    transition: all 0.2s linear;
}
.o-button.option-button-active .small-o .o-inner-circle{
    background-color: var(--gray);
    transition: all 0.2s linear;
}
/* <option o-button style */
.remainder{
    opacity: 0.5;
}
.game-modes-wrapper{
    width: 100%;
    row-gap: 1em;
}
/* play-board style> */
.play-board{
    grid-template: repeat(3, max-content) / repeat(3, 1fr);
    grid-gap: 15px;
}
.turn-indicator{
    column-gap: 1em;
    background-color: var(--light-background-color);
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #10212A;
    cursor: pointer;
}
.turn-indicator .x-and-0-title{
    column-gap: 0;
}
.turn-indicator .x-and-0-title .small-x, .turn-indicator .x-and-0-title .small-o{
    width: 20px;
    height: 20px;
}
.turn-indicator .x-and-0-title .small-x .x-line{
    height: 23px;
    width: 6px;
    bottom: -9%;
    background-color: var(--gray);
    border-radius: 1px;
}
.turn-indicator .x-and-0-title .small-o{
    background-color: var(--gray);
}
.reload-button-wrapper button{
    margin-right: 6px;
}
.reload-button-wrapper button{
    background-color: var(--gray);
    border-radius: 12%;
    cursor: pointer;
}
.reload-button-wrapper button img{
    width: 50px;
    height: 49px;
}
.reload-button-wrapper button:hover{
    background-color: var(--dark-white);
}
.x-o-block{
    width: 140px;
    height: 140px;
    background-color: var(--light-background-color);
    border-radius: 12px;
    cursor: pointer;
    transition: all 1s ease-out;
}
.score-wrapper{
    padding: 13px 0;
    border-radius: 15px;
}
/* <play-board style */
/* modal style> */
.modal-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.modal-content-wrapper{
    width: 100%;
    padding: 3em 0; 
    row-gap: 2em;
    background-color: var(--light-background-color);
    text-transform: uppercase;
}
.modal-result-wrapper{
    column-gap: 1em;
}
.modal-options-wrapper{
    row-gap: 1em;
}
.options-after-play-end, .options-for-reload{
    column-gap: 2em;
}
/* <modal style */